.grid {
    background-color: #2a313f;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 2rem;
    margin: 0px 5px;
}

  /* not used currently */
  .grid .div {
    padding: 1.5rem;
    border-radius: 1rem;
  }
  body {
    font: 13px system-ui;
  }
